a {
  text-decoration: none;
}

main {
  margin: 30px;
}

@font-face {
  font-family: 'ARS Maquette';
  font-style: normal;
  font-weight: 400;
  src:
    url(/assets/Fonts/ars-maquette-regular.woff) format("woff"),
    url(/assets/Fonts/ars-maquette-regular.ttf) format("truetype");
}

@font-face {
  font-family: 'ARS Maquette';
  font-style: italic;
  font-weight: 400;
  src:
    url(/assets/Fonts/ars-maquette-regular-italic.woff) format("woff"),
    url(/assets/Fonts/ars-maquette-regular-italic.ttf) format("truetype");
}

@font-face {
  font-family: 'ARS Maquette';
  font-style: normal;
  font-weight: 700;
  src:
    url(/assets/Fonts/ars-maquette-bold-alt.woff) format("woff"),
    url(/assets/Fonts/ars-maquette-bold-alt.ttf) format("truetype");
}

@font-face {
  font-family: 'Avalon';
  font-style: normal;
  font-weight: 700;
  src:
    url(/assets/Fonts/avalon-bold.woff) format("woff"),
    url(/assets/Fonts/avalon-bold.ttf) format("truetype");
}

@font-face {
  font-family: 'TNW-Avalon';
  font-style: normal;
  font-weight: 700;
  src: url(/assets/Fonts/tnw-avalon-bold.ttf);
}

@font-face {
  font-family: 'Shentox';
  font-style: normal;
  font-weight: 500;
  src:
    url(/assets/Fonts/shentox-medium.woff) format("woff"),
    url(/assets/Fonts/shentox-medium.ttf) format("truetype");
}

@font-face {
  font-family: 'Trump';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/Trump-Gothic-East-Bold.ttf);
}

@font-face {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 400;
  src:
    url(/assets/fonts/graphik/graphik-regular.woff) format("woff"),
    url(/assets/fonts/graphik/graphik-regular.woff2) format("woff2");
}

li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'ARS Maquette', 'Helvetica', Georgia, 'Times New Roman', Times, serif;
}











/* ########################## */

/* ##### NAVBAR SECTION ##### */

/* ########################## */

.nav-bar {
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.nav-logo {
  background-color: black;
  width: 100px;
  height: 100%;
}

.nav-menu {
  background-color: white;
}

.nav-menu img {
  width: 20px;
  padding: 10px;
  border-left: lightgray 1px solid;
}

.logo {
  height: 35%;
  margin: 15%;
}

.dashboard {
  margin-top: 50px;
  font-family: 'Graphik', Georgia, 'Times New Roman', Times, serif;
  height: 75vh;
  max-height: 560px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main-title {
  visibility: hidden;
}

.dashboard .cards {
  width: 100%;
  height: 30%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-decoration: none;
  color: white;
  background-size: 100%;
}

.main-1 {
  background:
    linear-gradient(to top, black, rgba(255, 255, 255, 0)),
    url(./../assets/images/header-image-microsoft-office-ipad-apps.png) 50% 50% no-repeat;
}

.main-2 {
  background:
    linear-gradient(to top, black, rgba(255, 255, 255, 0)),
    url(./../assets/images/tnw2020-feature_img-02.jpg) 50% 50% no-repeat;
}

.main-3 {
  background:
    linear-gradient(to top, black, rgba(255, 255, 255, 0)),
    url(./../assets/images/image-8-4-796x417.png) 50% 50% no-repeat;
}

.cards-list {
  list-style: none;
  margin: 2%;
}

.data {
  display: flex;
  list-style: none;
  font-family: 'ARS Maquette', 'Helvetica', Georgia, 'Times New Roman', Times, serif;
  font-size: 0.8rem;
  color: gray;
}

.data li {
  margin-right: 10px;
}

.cards-title {
  font-size: 1.2rem;
  font-family: 'Avalon', sans-serif;
}

.cards-article {
  font-size: 0.9rem;
  font-family: 'Shentox', sans-serif;
}

.cards-icon {
  width: 12px;
  margin-right: 5px;
}











/* ############################### */

/* ##### LATEST NEWS SECTION ##### */

/* ############################### */

.latestnews {
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  font-family: 'ARS Maquette', 'Helvetica', Georgia, 'Times New Roman', Times, serif;
}

.latestnews .img1,
.latestnews .img2,
.latestnews .img3,
.latestnews .img4,
.latestnews .img5,
.latestnews .img6,
.latestnews .img7,
.latestnews .img8 {
  min-height: 77px;
  min-width: 77px;
  background-size: cover;
  background-position: 50%;
  margin-right: 10px;
}

.latestnews .img1 {
  background-image: url('./../assets/images/uber-amsterdam-british-drivers-employee-gdpr-data-car-court-.jpg');
}

.latestnews .img2 {
  background-image: url('./../assets/images/agile-marketing-gq-540x270.png');
}

.latestnews .img3 {
  background-image: url('./../assets/images/Destruction-Allstars-516x270.jpg');
}

.latestnews .img4 {
  background-image: url('./../assets/images/YouTubes-mobile-app.png');
}

.latestnews .img5 {
  background-image: url('./../assets/images/image-7-5-840x628.png');
}

.latestnews .img6 {
  background-image: url('./../assets/images/Elon-Musk-candy-Wonka-hed-736x552.jpg');
}

.latestnews .img7 {
  background-image: url('./../assets/images/new-ai.png');
}

.latestnews .img8 {
  background-image: url('./../assets/images/MIT-Roboat-II-Close-e1603453521207.jpeg');
}

.latestnews .cards {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.latestnews .title {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.latestnews .title:hover {
  color: tomato;
  cursor: pointer;
}

.latestnews .credits,
.latestnews li {
  color: #aaa;
  text-decoration: none;
}

.latestnews .credits:hover {
  color: #555;
  text-decoration: none;
  cursor: pointer;
}

.latestnews ul {
  list-style: none;
  line-height: 18px !important;
  list-style-type: none;
  margin-top: 5px;
  font-size: small;
}

.latestnews li {
  float: left;
  margin-right: 10px;
}

.orange-headings {
  text-decoration: none; /* changed by bash */
  color: tomato;
}

.orange-headings:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.main-headings {
  font-weight: 900;
  font-size: 25px;
}











/* ################################## */

/* ##### LATEST FUNDING SECTION ##### */

/* ################################## */

.latestfunding {
  margin-top: 7%;
  margin-bottom: 7%;
  display: flex;
  flex-direction: column;
}

.latestfunding .options {
  color: tomato;
}

.latestfunding a {
  padding: 5px;
}

.latestfunding .options:hover {
  color: black;
}

.latestfunding .cards {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.latestfunding .cards img {
  padding: 10px;
  height: 60px;
  width: 60px;
  position: absolute;
}

.latestfunding .cards .name {
  padding: 10px;
  padding-left: 80px;
  background-color: tomato;
  color: white;
  font-weight: bold;
}

.latestfunding .cards .amount {
  padding: 15px;
  padding-left: 80px;
  background-color: #ffebe7;
}

.latestfunding .cards .amount p:first-child {
  color: black;
  font-weight: bold;
}

.latestfunding .cards .amount p:last-child {
  color: grey;
  font-weight: normal;
  font-size: small;
  text-transform: uppercase;
}

.latestfunding .cards .field {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-bottom: #ffebe7 solid 0.3rem;
}

.latestfunding .cards .summary,
.latestfunding .cards .field {
  background-color: #fffaf8;
  padding: 15px;
}

.latestfunding .cards .summary a,
.latestfunding .cards .field i,
.latestfunding .cards .field span {
  font-size: small;
  color: #555;
  padding: 7px;
}

.latestfunding .cards .summary span {
  color: grey;
}

.latestfunding .cards .summary a,
.latestfunding .cards .field i,
.latestfunding .cards .field span:hover {
  color: black;
}



/* ########################## */

/* ##### POST SECTION ##### */

/* ########################## */

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.posts article {
  width: 100%;
}

.posts .cards {
  width: 100%;
  height: 25rem;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-decoration: none;
  color: white;
}

.post-1 {
  background:
    linear-gradient(to top, black, rgba(255, 255, 255, 0)),
    url(./../assets/images/Elon-Musk-candy-Wonka-hed-736x552.jpg) 50% no-repeat;
  background-size: cover;
}

.post-2 {
  background:
    linear-gradient(to top, black, rgba(255, 255, 255, 0)),
    url(./../assets/images/YouTubes-mobile-app.png) 50% no-repeat;
  background-size: cover;
}

.post-3 {
  background:
    linear-gradient(to top, black, rgba(255, 255, 255, 0)),
    url(./../assets/images/header-image-Apple-Watch-design-840x628.png) 50% no-repeat;
  background-size: cover;
}

.post-4 {
  background:
    linear-gradient(to top, black, rgba(255, 255, 255, 0)),
    url(./../assets/images/image-7-5-840x628.png) 50% no-repeat;
  background-size: cover;
}

.post-5 {
  background:
    linear-gradient(to top, black, rgba(255, 255, 255, 0)),
    url(./../assets/images/Untitled-design-13-840x628.jpg) 50% no-repeat;
  background-size: cover;
}

.post-6 {
  background:
    linear-gradient(to top, black, rgba(255, 255, 255, 0)),
    url(./../assets/images/mixed-reality-spatial-computing-gq-840x628.png) 50% no-repeat;
  background-size: cover;
}

.post-7 {
  background:
    linear-gradient(to top, black, rgba(255, 255, 255, 0)),
    url(./../assets/images/tesla-nhtsa-investigation-car-cooling-pipes-fix-broken-la-ti.jpg) 50% no-repeat;
  background-size: cover;
}

.post-8 {
  background:
    linear-gradient(to top, black, rgba(255, 255, 255, 0)),
    url(./../assets/images/hummer-ev-future-car-love-hate-next-gmc-gm-ultium-1200x900.jpg) 50% no-repeat;
  background-size: cover;
}

.post-9 {
  background:
    linear-gradient(to top, black, rgba(255, 255, 255, 0)),
    url(./../assets/images/reddit-deleted-posts-comments-threads-736x552.jpg) 50% no-repeat;
  background-size: cover;
}

.latest {
  width: 100%;
  height: 96px;
  display: flex;
  justify-content: space-between;
}

.lat-p {
  font-family: 'Avalon', sans-serif;
}

.lat-tlt {
  font-family: 'Shentox', sans-serif;
}

.latest div {
  width: 100%;
  background-color: rgb(255, 216, 194);
  padding: 10px 14px 0;
  color: #f42;
}

.back-1 {
  background-image: url(/assets/images/bitcoin-thief.jpg);
}

.back-2 {
  background-image: url(/assets/images/header-image-microsoft-office-ipad-apps.png);
}

.back-3 {
  background-image: url(/assets/images/header-image-measure-peoples-height-iphone-12-pro-LIDAR.png);
}

.back-4 {
  background-image: url(/assets/images/image-6-5.png);
}

.back-5 {
  background-image: url(/assets/images/card-v-card-bank-account-multiplayer-game.png);
}

.back-6 {
  background-image: url(/assets/images/data.jpg);
}

.back-7 {
  background-image: url(/assets/images/uber-amsterdam-british-drivers-employee-gdpr-data-car-court-.jpg);
}

.back-8 {
  background-image: url(/assets/images/Amazon-Rivian-electric-delivery-van.jpg);
}

.back-9 {
  background-image: url(/assets/images/Snag_1385ac7a.png);
}

.lat-img {
  background-position: 50%;
  background-size: cover;
  min-width: 96px;
  height: 96px;
  display: block;
}

.lat-li {
  margin: 20px auto;
  width: 100%;
}

.lat-li a {
  color: rgb(88, 88, 88);
}

.lat-li li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: red; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.lat-li li {
  margin: 30px 20px;
}







/* ################################ */

/* ##### LATEST DEALS SECTION ##### */

/* ################################ */

.latestdeals {
  margin-top: 7%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  font-family: 'ARS Maquette', 'Helvetica', Georgia, 'Times New Roman', Times, serif;
}

.latestdeals .heading {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.latestdeals .img1,
.latestdeals .img2,
.latestdeals .img3,
.latestdeals .img4,
.latestdeals .img5,
.latestdeals .img6,
.latestdeals .img7,
.latestdeals .img8 {
  height: 77px;
  width: 77px;
  background-size: cover;
}

.latestdeals .img1 {
  background-image: url('./../assets/images/latestdeals_img1.jpg');
}

.latestdeals .img2 {
  background-image: url('./../assets/images/latestdeals_img2.jpg');
}

.latestdeals .img3 {
  background-image: url('./../assets/images/latestdeals_img3.jpg');
}

.latestdeals .img4 {
  background-image: url('./../assets/images/latestdeals_img4.jpg');
}

.latestdeals .img5 {
  background-image: url('./../assets/images/latestdeals_img5.jpg');
}

.latestdeals .img6 {
  background-image: url('./../assets/images/latestdeals_img6.jpg');
}

.latestdeals .img7 {
  background-image: url('./../assets/images/latestdeals_img7.jpg');
}

.latestdeals .img8 {
  background-image: url('./../assets/images/latestdeals_img8.jpg');
}

.latestdeals .cards {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-left: 0;
}

.latestdeals div {
  margin-left: 10px;
}

.latestdeals .title {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.latestdeals .title:hover {
  color: tomato;
  cursor: pointer;
}

.latestdeals .credits,
.latestdeals li {
  color: black;
  text-decoration: none;
}

.latestdeals .credits:hover {
  color: #555;
  text-decoration: none;
  cursor: pointer;
}

.latestdeals ul {
  list-style: none;
  line-height: 18px !important;
  list-style-type: none;
  margin-top: 5px;
}

.latestdeals li {
  float: left;
  margin-right: 10px;
}

.latestdeals li:first-child {
  color: #aaa;
  font-size: small;
  text-decoration: line-through;
}











/* ########################## */

/* ##### FOOTER SECTION ##### */

/* ########################## */

.footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(32, 32, 32);
  height: 160px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.bottombar {
  background-color: rgb(24, 24, 24);
  height: 120px;
  width: 100%;
}

.social {
  margin-top: 10px;
  height: 50px;
  min-width: 400px;
}

.social ul {
  display: flex;
  justify-content: space-around;
}

.social li {
  background-color: rgb(66, 66, 66);
  background-size: 45%;
  border-radius: 30px;
  height: 40px;
  width: 40px;
}

.links {
  margin-top: 10px;
  height: 50px;
  width: 300px;
}

.links ul {
  display: flex;
  justify-content: space-between;
}

.links li a {
  font-family: 'Shentox', sans-serif;
  font-size: 0.9rem;
  list-style: none;
  text-decoration: none;
  color: rgb(206, 206, 206);
}

.social-icon {
  width: 20px;
  padding: 10px;
}

.bottombar div {
  font-family: 'ARS Maquette', 'Helvetica', Georgia, 'Times New Roman', Times, serif;
  font-size: 0.8rem;
  height: 100%;
  text-align: center;
  color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottom-icon {
  height: 10px;
}

@media only screen and (min-width: 750px) {
  .dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
  }

  .dashboard .cards {
    height: 100%;
    background-size: cover;
  }

  .main-1 .cards-title {
    font-size: 2rem;
  }

  .main-title {
    visibility: hidden;
    width: 95%;
    margin: 10% 2%;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
  }

  .main-title img {
    height: 80px;
  }

  .main-1 {
    background:
      linear-gradient(to top, black, rgba(255, 255, 255, 0)),
      url(./../assets/images/header-image-microsoft-office-ipad-apps.png) 50% 50% no-repeat;
    grid-column: 1/3;
    grid-row: 1/3;
  }

  .main-2 {
    grid-row: 1;
    grid-column: 3;
  }

  .main-3 {
    grid-row: 2;
    grid-column: 3;
  }

  .posts article {
    width: 47%;
    margin: 10px;
  }

  .posts .cards {
    height: 15rem;
  }

  .lat-li li{
    font-size: 0.8rem;
    margin: 20px 20px;
    color: black;
  }

  .latest {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 1024px) {
  .dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
  }

  .dashboard .cards {
    height: 100%;
    background-size: cover;
  }

  .main-1 .cards-title {
    font-size: 3rem;
  }

  .main-title {
    visibility: visible;
    width: 60%;
    margin: 2%;
    position: absolute;
    top: 50px;
    display: flex;

    /* justify-content: space-between; */
    font-size: 1rem;
  }

  .main-title img {
    height: 80px;
  }

  .main-1 {
    background:
      url(/assets/images/cover-gradient.png) 0 0 no-repeat,
      linear-gradient(to top, black, rgba(255, 255, 255, 0)),
      url(./../assets/images/header-image-microsoft-office-ipad-apps.png) 50% 50% no-repeat;
    grid-column: 1/3;
    grid-row: 1/3;
  }

  .main-2 {
    grid-row: 1;
    grid-column: 3;
  }

  .main-3 {
    grid-row: 2;
    grid-column: 3;
  }

  .posts article {
    width: 30%;
    margin: 10px;
  }

  .posts .cards {
    height: 15rem;
  }

  .lat-li li{
    font-size: 0.8rem;
    margin: 20px 20px;
    color: black;
  }

  .latest {
    font-size: 0.9rem;
  }
}
